$formfrontcolor: #eee;
$vipcolor: rgba(242,2,136,1);
$vipcolorcode: #F20288;
$white: #fff;
$offwhite: #bbb;

	
html, body {
	width: 100%;
	margin: 0 auto;
	font: 14px/1.8 Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, '\5FAE\8F6F\96C5\9ED1', arial, sans-serif;
}

::selection {
  background: $vipcolorcode;
  color: $white;
}

@import 'apps/login';
@import 'apps/homepage';

