<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.6.xsd" 
		default-lazy-init="false">
	
	<context:property-placeholder location="
											classpath:/properties/development/application.properties,
											classpath:/properties/application.properties" />
											
	<context:component-scan base-package="com.zero.handsup.**.repository.**" />
	<context:component-scan base-package="com.zero.handsup.**.service.**" />
	<context:component-scan base-package="com.zero.handsup.**.controller.**" />
	<context:component-scan base-package="com.zero.handsup" />
	<context:annotation-config />
	
	<!--i18n-->
  	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
      	<property name="basenames">
            <list>
                <value>classpath:i18n</value>
            </list>
       	</property>
      	<property name="defaultEncoding" value="UTF-8"/>
		<property name="fallbackToSystemLocale" value="false"/>
   	</bean>
   	
	<!-- validator -->
   	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
    	<property name="validationMessageSource" ref="messageSource"/>
    </bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zero.handsup.**.repository.**" />
		<property name="sqlSessionFactoryBeanName" value="myBatisSqlSessionFactory" />
		<property name="annotationClass" value="org.springframework.stereotype.Repository" /> 
	</bean>

	<bean id="myBatisSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mappers/**/*Mapper.xml" />
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.mysql.driver}" />
		<property name="jdbcUrl" value="${jdbc.mysql.url}" />
		<property name="user" value="${jdbc.mysql.username}" />
		<property name="password" value="${jdbc.mysql.password}" />
		<!-- ext -->
		
	</bean>	
	
	<import resource="classpath:applicationContext-*.xml"/>
	
</beans>