@charset "UTF-8";
html, body {
  width: 100%;
  margin: 0 auto;
  font: 14px/1.8 Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, '\5FAE\8F6F\96C5\9ED1', arial, sans-serif; }

::selection {
  background: #F20288;
  color: #fff; }

/**
 * 登录相关页面CSS样式
 */
.loginmain {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  min-width: 1280px;
  min-height: 780px;
  background: url("../img/bg_login.png") 0% 0%/100% 100% no-repeat; }
  .loginmain .loginform {
    width: 540px;
    margin: 0 auto;
    padding: 32px;
    margin-top: -88px;
    color: #eee; }
    .loginmain .loginform h1 {
      font-weight: 800;
      margin-bottom: 2em;
      text-align: center;
      color: #F20288; }
    .loginmain .loginform h3 {
      font-weight: 400;
      font-size: 1.25rem;
      text-align: center;
      color: #777; }
    .loginmain .loginform .form {
      margin-top: 0em;
      display: block; }
      .loginmain .loginform .form .righttext {
        height: 37px;
        width: 100%; }
        .loginmain .loginform .form .righttext a {
          display: block;
          text-align: center; }
      .loginmain .loginform .form .form-group {
        display: block; }
        .loginmain .loginform .form .form-group label {
          margin-bottom: 5px;
          color: #eee;
          font-weight: 500;
          font-size: 17px; }
        .loginmain .loginform .form .form-group .form-control {
          color: #eee;
          border: 1px solid #f20288;
          border-radius: 5px;
          box-shadow: none;
          font-size: 14px;
          background-color: rgba(255, 255, 255, 0.1); }
          .loginmain .loginform .form .form-group .form-control label {
            border: none; }
          .loginmain .loginform .form .form-group .form-control label:hover {
            border: none; }
        .loginmain .loginform .form .form-group .form-control:hover {
          box-shadow: 0 0 0 2px #f20288; }
        .loginmain .loginform .form .form-group .button {
          box-shadow: none; }
        .loginmain .loginform .form .form-group .button:hover {
          box-shadow: 0 0 0 2px #f20288; }
        .loginmain .loginform .form .form-group .span6c {
          float: left;
          width: 60%;
          position: relative;
          min-height: 1px;
          padding-right: 15px; }
        .loginmain .loginform .form .form-group .span4c {
          float: left;
          width: 40%;
          position: relative;
          min-height: 1px; }
        .loginmain .loginform .form .form-group .spancenter {
          float: left;
          width: 99%;
          position: relative;
          min-height: 1px; }
        .loginmain .loginform .form .form-group .kaptchaimg {
          width: 130px;
          height: 37px; }
        .loginmain .loginform .form .form-group input[type="submit"], .loginmain .loginform .form .form-group input[type="button"] {
          background-color: #F20288; }
      .loginmain .loginform .form .row {
        height: 60px;
        width: 100%;
        padding: 7px 0px;
        margin: 13px 0px; }
    .loginmain .loginform .form-horizontal label {
      line-height: 34px;
      margin-bottom: 0;
      padding-top: 0 !important; }
    .loginmain .loginform .control-label {
      color: #eee; }
    .loginmain .loginform .col-sm-7 {
      float: left;
      width: 66.66%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; }
    .loginmain .loginform .col-sm-3 {
      float: left;
      width: 33.33%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; }
    .loginmain .loginform .col-sm-8 {
      float: left;
      width: 75%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; }
    .loginmain .loginform .col-sm-2 {
      float: left;
      width: 25%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; }
    .loginmain .loginform .tiphere {
      position: relative; }
  .loginmain .passwordruletip {
    position: absolute;
    color: #bbb;
    right: -320px;
    top: 0; }
    .loginmain .passwordruletip .tipicon {
      float: left;
      width: 57px;
      height: 57px;
      font-size: 2.15em; }
    .loginmain .passwordruletip .tiprule {
      float: left;
      background: rgba(111, 111, 111, 0.3);
      padding: 17px 27px;
      border-radius: 7px; }
      .loginmain .passwordruletip .tiprule .title {
        font-weight: 700;
        font-size: 1.15em; }
      .loginmain .passwordruletip .tiprule .content {
        font-size: 0.85em;
        padding-top: 0.70em; }
        .loginmain .passwordruletip .tiprule .content ul {
          margin: 0;
          padding: 0; }
          .loginmain .passwordruletip .tiprule .content ul li {
            list-style: none;
            line-height: 1.85em; }

.nav-header .companyicon {
  width: 200px;
  height: 75px;
  background: url("./../img/vjr_icon.png") no-repeat; }
